[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"
pytest = "*"

[packages]
requests = "*"
flask-restx = "*"
newsapi-python = "*"
newspaper3k = "*"
tox = "*"
python-dotenv = "*"
xxhash = "*"
kgai-py-commons = {editable = true,git = "https://github.com/knowledge-ai/kgai-py-commons"}

[requires]
python_version = "3.7"
